{% extends "::base.html.twig" %}

{% block title %}SafeBoardBundle:Reclamation:getAllReclamations{% endblock %}

{% block body %}
<h1>Welcome to the Reclamation:getAllReclamations page</h1>
{% endblock %}
